In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [4]:
weatherpy_df = pd.read_csv('WeatherPy_Database.csv')
weatherpy_df

,City_ID,Latitudes,Longitudes,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Dates
0,0,7.7893,99.6348,86.00,74,40,7.56,TH,1619493765
1,1,-8.1450,159.5921,81.07,76,100,3.18,SB,1619493765
2,2,-46.6000,168.3333,48.00,71,90,5.01,NZ,1619493765
3,3,-38.2667,141.9667,62.10,58,90,5.75,AU,1619493469
4,4,-33.6500,115.3333,75.00,73,38,1.99,AU,1619493495
...,...,...,...,...,...,...,...,...,...
590,590,41.7057,-70.2286,48.00,65,1,3.44,US,1619493904
591,591,54.5500,52.8000,41.02,53,100,2.95,RU,1619493606
592,592,24.4667,54.3667,86.00,23,0,5.75,AE,1619493729
593,593,-3.2942,-45.1736,73.49,98,100,2.91,BR,1619493905
594,594,-23.8597,35.3472,69.91,92,0,4.92,MZ,1619493905