In [5]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os 
from wconfig import g_key

In [4]:
weatherpy_df = pd.read_csv('WeatherPy_Database.csv')
weatherpy_df

,City_ID,Latitudes,Longitudes,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Dates
0,0,7.7893,99.6348,86.00,74,40,7.56,TH,1619493765
1,1,-8.1450,159.5921,81.07,76,100,3.18,SB,1619493765
2,2,-46.6000,168.3333,48.00,71,90,5.01,NZ,1619493765
3,3,-38.2667,141.9667,62.10,58,90,5.75,AU,1619493469
4,4,-33.6500,115.3333,75.00,73,38,1.99,AU,1619493495
...,...,...,...,...,...,...,...,...,...
590,590,41.7057,-70.2286,48.00,65,1,3.44,US,1619493904
591,591,54.5500,52.8000,41.02,53,100,2.95,RU,1619493606
592,592,24.4667,54.3667,86.00,23,0,5.75,AE,1619493729
593,593,-3.2942,-45.1736,73.49,98,100,2.91,BR,1619493905
594,594,-23.8597,35.3472,69.91,92,0,4.92,MZ,1619493905

In [11]:
#  Humidity Heatmap
# Configure gmaps
gmaps.configure(api_key=g_key)
# Use the Lat and Lng as locations and Humidity as the weight.
locations = weatherpy_df[["Latitudes", "Longitudes"]].astype(float)

# weatherpy_df = weatherpy_df.dropna()
humidity = weatherpy_df['Humidity'].astype(float)

# # Add Heatmap layer to map.
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [45]:


ideal_weather_df = weatherpy_df.drop(weatherpy_df[(weatherpy_df['Max Temp'] <=70) | (weatherpy_df['Humidity'] >=80)| (weatherpy_df['Wind Speed'] >=4.99) ].index)

ideal_weather_df

,City_ID,Latitudes,Longitudes,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Dates
1,1,-8.1450,159.5921,81.07,76,100,3.18,SB,1619493765
4,4,-33.6500,115.3333,75.00,73,38,1.99,AU,1619493495
13,13,-21.2078,-159.7750,82.40,69,40,3.44,CK,1619493705
24,24,-35.3500,150.4667,71.60,43,20,4.61,AU,1619493770
27,27,-17.7333,-149.1500,86.00,66,20,3.44,PF,1619493770
...,...,...,...,...,...,...,...,...,...
548,548,14.4000,46.4667,71.33,60,97,0.27,YE,1619493894
554,554,8.4833,78.1167,86.00,70,20,2.30,IN,1619493896
564,564,20.6350,82.0614,87.80,33,20,3.44,IN,1619493898
583,583,28.1310,82.2973,90.34,10,0,2.26,NP,1619493903
587,587,-12.2800,43.7425,81.91,70,91,2.95,KM,1619493904