In [1]:

# Dependencies
import requests
import json
import numpy as np
import time
import matplotlib.pyplot as plt
from scipy.stats import linregress
import pandas as pd
from wconfig import apikey
from citipy import citipy

#Output File
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

# Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []


# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

647

In [35]:
 #Set up weathermap request
# apikey = ""
lats = []
lngs = []
max_temps = []
humidities = []
cloudiness = []
wind_speeds = []
countries = [] 
dates = []
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + apikey

weather = []
for city in cities[0:20]:
#save website information

    try:
        weatherquery_url = url + "&q=" + city.replace(" ","+")

        weather_response = requests.get(weatherquery_url).json()

        print(f'Processing | {city}')
        weather.append(weather_response)
        lats.append(weather_response['coord']['lat'])
        lngs.append(weather_response['coord']['lon'])
        max_temps.append(weather_response['main']['temp_max'])
        humidities.append(weather_response['main']['humidity'])
        cloudiness.append(weather_response['clouds']['all'])
        wind_speeds.append(weather_response['wind']['speed'])
        countries.append(weather_response['sys']['country'])
        dates.append(weather_response['dt'])
    except:
        pass

Processing | huai yot
Processing | buala
Processing | bluff
Processing | codrington
Processing | busselton
Processing | port alfred
Processing | teknaf
Processing | dingle
Processing | touros
Processing | rikitea
Processing | samusu
Processing | tsihombe
Processing | chuy
Processing | vaini
Processing | lebu
Processing | avarua
Processing | albany
Processing | sobolevo
Processing | mataura
Processing | hargeysa

In [36]:
weather_response

{'coord': {'lon': 44.065, 'lat': 9.56},
 'weather': [{'id': 501,
   'main': 'Rain',
   'description': 'moderate rain',
   'icon': '10n'}],
 'base': 'stations',
 'main': {'temp': 66.61,
  'feels_like': 67.01,
  'temp_min': 66.61,
  'temp_max': 66.61,
  'pressure': 1012,
  'humidity': 86,
  'sea_level': 1012,
  'grnd_level': 875},
 'visibility': 10000,
 'wind': {'speed': 13.58, 'deg': 173, 'gust': 18.57},
 'rain': {'1h': 1.97},
 'clouds': {'all': 100},
 'dt': 1619393408,
 'sys': {'country': 'SO', 'sunrise': 1619405317, 'sunset': 1619450049},
 'timezone': 10800,
 'id': 57289,
 'name': 'Hargeisa',
 'cod': 200}

In [38]:
wind_speeds

[1.92,
 0.2,
 10,
 5.21,
 4.29,
 11.83,
 2.35,
 3.83,
 6.91,
 7.78,
 12.59,
 6.91,
 9.91,
 12.66,
 14.23,
 7.58,
 11.01,
 13.58]

In [55]:
# # create a data frame from cities toe xport into .csv file
weather_df = pd.DataFrame({
    
    "Latitudes":lats,
    "Longitudes":lngs,
    "Max Temp" : max_temps,
    "Humidity" : humidities,
    "Cloudiness" : cloudiness,
    "Wind Speed" : wind_speeds,
    "Country" : countries,
    "Dates" : dates
    
})
 
# Create the output File (CSV)
output_data_file = "../WeatherPY/WeatherPy_Database.csv"

# Export the city_data into a csv
weather_df.to_csv(output_data_file, index_label="City_ID")

In [56]:
weather_df.head()

,Latitudes,Longitudes,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Dates
0,7.7893,99.6348,75.20,100,40,1.92,TH,1619393405
1,-8.1450,159.5921,85.73,69,23,0.20,SB,1619393405
2,-46.6000,168.3333,46.99,88,82,10.00,NZ,1619393405
3,-38.2667,141.9667,58.37,71,100,5.21,AU,1619393158
4,-33.6500,115.3333,51.01,98,100,4.29,AU,1619393406

In [76]:
clean_weather_df = weather_df.drop(weather_df[weather_df.Humidity > 100].index)
clean_weather_df

,Latitudes,Longitudes,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Dates
0,7.7893,99.6348,75.20,100,40,1.92,TH,1619393405
1,-8.1450,159.5921,85.73,69,23,0.20,SB,1619393405
2,-46.6000,168.3333,46.99,88,82,10.00,NZ,1619393405
3,-38.2667,141.9667,58.37,71,100,5.21,AU,1619393158
4,-33.6500,115.3333,51.01,98,100,4.29,AU,1619393406
5,-33.5906,26.8910,70.63,56,100,11.83,ZA,1619393406
6,20.8624,92.3058,77.25,86,4,2.35,BD,1619393406
7,10.9995,122.6711,82.51,70,46,3.83,PH,1619393406
8,-5.1989,-35.4608,78.80,83,20,6.91,BR,1619393168
9,-23.1203,-134.9692,78.24,74,98,7.78,PF,1619393262
10,-33.6971,-53.4616,63.48,71,95,12.59,UY,1619393141
11,-21.2000,-175.2000,80.60,83,75,6.91,TO,1619393407
12,-37.6167,-73.6500,55.31,91,1,9.91,CL,1619393407
13,-21.2078,-159.7750,82.40,78,75,12.66,CK,1619393170
14,42.6001,-73.9662,57.00,51,78,14.23,US,1619393397
15,54.4299,31.8996,30.38,82,13,7.58,RU,1619393353
16,-46.1927,168.8643,48.00,89,74,11.01,NZ,1619393408
17,9.5600,44.0650,66.61,86,100,13.58,SO,1619393408